/* .inputTable {
    margin: 0 auto;
    border: 1px solid black;
    width: 300px;
} */

.randomButton {
    margin: 0 auto;
    width: 200px;
}

h4 {
    text-align: center;
}

form {
    text-align: center;
}

form h4 {
    text-align: center;
}

p {
    text-align: center;
}